{
  "ConnectionStrings": {
    "MajetrackDb": "Host=localhost;Database=majetrack;Username=majetrack;Password=<your_password>"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
